* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.title-destaque-descricao a {
  text-decoration: none;
  color: white;
}

header {
  padding: 8px 0;
  background-color: #0aacdc;
  text-align: center;
}

.center {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  text-align: left;
  width: 50%;
}

.logo h2 {
  color: white;
}

.logo a {
  color: white;
  text-decoration: none;
}

.form-busca {
  width: 50%;
  text-align: right;
}

.form-busca form {
  display: inline-block;
  max-width: 200px;
  position: relative;
}

.form-busca i {
  position: absolute;
  left: 10px;
  top: 7px;
  color: white;
  font-size: 20px;
}

.form-busca input {
  height: 40px;
  width: 100%;
  border: 0;
  font-size: 20px;
  color: white;
  background-color: #008bb4;
  padding-left: 40px;
  border-radius: 10px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

section.noticia-destaque {
  padding: 40px 0;
  flex: 1;
  
}

section.noticia-destaque > .center {
  max-width: 960px;
}

.img-destaque {
  width: 100%;

  position: relative;
}
.img-destaque img {
  width: 100%;
  border-radius: 20px;
}

.title-destaque-descricao {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px;
  max-width: 600px;
  color: white;
  z-index: 2;
}

.title-destaque-descricao h2 {
  font-size: 32px;
  margin: 20px 0;
}

.title-destaque-descricao p {
  font-weight: lighter;
  font-size: 16px;
}

.overlay-destaque {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

section.outras-noticias {
  background-color: #eaeaea;
  padding: 30px 20px;
  text-align: center;
}

section.outras-noticias h2 {
  font-size: 54px;
}

.ultimas {
  width: 60%;
  padding: 0 10px;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.box-ultima-single {
  text-align: left;
  width: 48%;
  background-color: white;
  padding-bottom: 20px;
  height: 100%;
  border-radius: 10px;
}

.box-ultima-single img {
  width: 100%;
  min-height: 250;
  border-top-left-radius: 10px;
  border-top-right-radius: inherit;
  object-fit: cover;
}

.box-ultima-single h3 {
  font-size: 16px;
  color: #33439b;
  margin: 20px 0;
}

.box-ultima-single h2 {
  color: #303336;
  font-size: 20 !important;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.box-ultima-single p {
  color: #7b8591;
  font-size: 16px;
  margin: 20px 0;
}

.box-ultima-single a {
  display: block;
  width: 181px;
  height: 56px;
  border: 1px solid #ebebeb;
  text-decoration: none;
  color: #0aacdc;
  border-radius: 10px;
  line-height: 56px;
  text-align: center;
  font-size: 19px;
}

.conteudo-noticia-single {
  padding: 20px;
}

.mais-lidas {
  width: 40%;
  height: 100%;
  background-color: white;
}

.mais-lidas > h3 {
  background-color: #3f51b5;
  color: white;
  text-align: center;
  padding: 10px 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.mais-lida-noticia-single {
  text-align: left;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.mais-lida-noticia-single img {
  width: 30%;
  object-fit: cover;
}

.mais-lida-noticia-single .texto-mais-lida-single {
  width: 70%;
  padding: 8px 20px;
}

.texto-mais-lida-single h4 {
  color: #40be65;
  letter-spacing: 3.2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.texto-mais-lida-single p {
  color: #7b8591;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.texto-mais-lida-single a {
  margin-top: 10px;
  display: block;
  width: 121px;
  height: 36px;
  border: 1px solid #ebebeb;
  text-decoration: none;
  color: #0aacdc;
  border-radius: 6px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
}

footer {
  background-color: #0aacdc;
  text-align: center;
  color: white;
  padding: 8px 0;
}

section.noticia {
  padding: 20px 0;
  background-color: #eaeaea;
}

.noticia-single {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 58%;
  margin-right: 2%;
}

.noticia-single h2 {
  color: #303336;
  font-size: 42px;
  margin: 10px 0;
}
.noticia-single span {
  letter-spacing: 3.2px;
  text-transform: uppercase;
  font-size: 13px;
  color: #858585;
  font-weight: bold;
}

.noticia-single p {
  color: #7b8591;
  font-size: 15px;
  line-height: 26px;
  margin-top: 15px;
}

.noticia-single h3 {
  color: #7b8591;
  font-size: 33px;
  margin: 10px 0;
}

.center.center-form{
  justify-content: center;
  height: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1.5rem;
}

.login-form label{
  font-size: 20px;
  color: rgb(44, 44, 44);
  font-weight: 700;

}

.login-form input {
  height: 40px;
  width: 100%;
  border:  2px solid rgb(44, 44, 44); ;
  font-size: 20px;
  color: rgb(44, 44, 44);
  background-color: #ffffff;
  padding: 5px 10;
  margin-top: 10px;
  border-radius: 10px;
}

.login-form input[type=submit] {
  margin-top: 30px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:rgb(44, 44, 44);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color:rgb(44, 44, 44);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color:rgb(44, 44, 44);
}


@media screen and (max-width: 960px) {
  .noticia-single {
    width: 100%;
    margin-bottom: 20px;
  }
  .logo {
    text-align: center;
  }
  .logo,
  .form-busca {
    width: 100%;
  }
  .form-busca {
    text-align: center;
    margin-top: 10px;
  }

  .title-destaque-descricao h2 {
    font-size: 34px;
    margin: 20px 0;
  }

  .mais-lidas,
  .ultimas {
    width: 100%;
    margin-bottom: 20px;
  }

  .box-ultima-single {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 960px) {
  .title-destaque-descricao h2 {
    font-size: 20px;
    margin: 20px 0;
  }
}
