<%- include('partials/header.html') %>
<section class="noticia-destaque">
	<div class="center center-form">
		<h2>Cadastro de Notícias</h2>
		<form class="login-form" method="post" action="/admin/create-news">
			<input
				type="text"
				name="titulo_noticia"
				id="titulo_noticia"
				placeholder="Titulo da notícia"
			/>
			<input
				type="text"
				name="url_imagem"
				id="url_imagem"
				placeholder="Link da imagem da notícia"
			/>
			<textarea
				name="noticia"
				id="noticia"
				cols="30"
				placeholder="Escreva sua notícia aqui"
			></textarea>

			<input type="submit" value="Cadastrar" name="action" />
		</form>
	</div>
	<div class="center center-form">
		<h2>Listagem de notícias de Notícias</h2>
		<div class="single-news">
			<p>Titulo da notícia: Minha notícia</p>
			<a href="/admin/delete/20">(x)</a>
		</div>
	</div>
</section>
<%- include('partials/footer.html') %>
