<%- include('partials/header.html') %>

<section class="noticia-destaque">
	<div class="center center-form">
		<form class="login-form" method="post">
			<label for="email">
				Email:
				<input type="email" name="email" id="email" />
			</label>
			<label for="password">
				Password:
				<input type="password" name="password" id="password" />
			</label>

			<input type="submit" name="action" value="Sign in" />
		</form>
	</div>
</section>

<%- include('partials/footer.html') %>
