<%- include('partials/header.html') %>


<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2><%= post.titulo %></h2>
            <div class="autor-nome">
                <span >Por <%= post.autor %> </span>
                <p style="margin: 0; font-size:12px">(views: <%= post.views %>)</p>
            </div>
            <div style="margin-top: 20px;"><img style="max-width: 100%;" src="<%- post.imagem %>" alt="<%- post.slug %>" ></div>
            
              <p><%- post.conteudo %>
                <%- post.conteudo %>
                <%- post.conteudo %>
                </p>
            

        </div>
        <div class="mais-lidas">

            <h3>Mais Lidas</h3>
            <div class="mais-lidas-noticias">
                <% for(let i = 0; i < topPosts.length; i++) {%>
                    <div class="mais-lida-noticia-single">
                        <img src="<%= topPosts[i].imagem %>" />
                        <div class="texto-mais-lida-single">
                            <h4><%= topPosts[i].titulo %></h4>
                            <p><%- topPosts[i].descricaoCurta %></p>
                            <span style="font-size: 12px;">(<%= topPosts[i].views %> views)</span>
                            <a href="<%= topPosts[i].slug %>">Saiba mais</a>
                        </div>
                    </div>
                    <%}%>
            </div>
        </div>
    </div>
</section>


<%- include('partials/footer.html') %>

</body>
</html>